@font-face {
    font-family: 'playlistscript';
    src: url('../fonts/playlist_script-webfont.woff2') format('woff2'),
         url('../fonts/playlist_script-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  background-color: #f7f7f7;
  color: #323639;
}

h1 {
  font-family: 'playlistscript';
  font-size: 35px;
  text-align: center;
}


a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}


p {
  line-height: 30px;
  font-size: 1.2em;
  text-align: left;
  font-weight: 400;
}

p a {
  border-bottom: 2px solid;
}

img {
  max-width: 900px;
  max-height: 450px;
  width: 40%;
  margin-right: 20px;
  margin-top: 40px;
}

.text{
  max-width: 70%;
  margin: auto;
}



.container {
  width: 100%;
  max-width: 900px;
  margin: auto;
  margin-top: 40px;
  display: block;
  text-align: center;
}

button {
  width: 160px;
  height: 65px;
  font-size: 14px;
  margin-bottom: 30px;
  margin-top: 25px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

button:hover {
  background-color: rgba(29, 134, 1, 0.8);
  box-shadow: 0px 15px 20px rgba(29, 134, 1, 0.4);
  color: #fff;
  transform: translateY(-7px);
}



@media (min-width: 900px) {

  .container, h1{
    display: flex;
    text-align: left;
  }



}
